.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 50rem;
  height: 50rem;
  background-color: #fff;
  border-radius: 2rem;

  &__icon {
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  }
}

@keyframes show {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes close {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0);
  }
}
